* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgclr: #EEF0F1;
  --txtclr: #2E3338;
  --font: 'Inter', sans-serif;
}

body {
  font-family: var(--font);
  background-color: var(--bgclr);
  color: var(--txtclr);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
textarea,
input {
  outline: none;
  border: 0;
  font-family: var(--font);
}